.logo {
	font-size: 1.1rem;
	font-weight: 500;

	img {
		margin-right: 0.8rem;
		filter: none;
	}
}

.mobileName { display: inline; }
.desktopName { display: none; }

@media (min-width: 768px) {
	.mobileName { display: none; }
	.desktopName { display: inline; }
}
